.event-title {
  font-family: "Poppins", sans-serif;
  margin-top: 8rem;
  font-size: 4rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  color: white !important;
}

.event-div {
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: #cd2f72;
}
