.guest-title {
  font-family: "Poppins", sans-serif;
  margin-top: 10rem;
  font-size: 4rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  color: white !important;
}

.guest-heading {
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.guest-img-head{
  height: 300px;
  width:520px;
  border-radius:20px;
  margin: 20px;
  border:1px solid black;
}
.grpimg{
  height: 400px;
  width:660px;
  border-radius:20px;
  margin: 20px;
  border:1px solid black;
}
.guest-img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.guest-div {
  height: 40rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  margin-bottom: 4rem;
  background-color: #cd2f72;
}
.guest-div2 {
  padding: 10px;
  margin:10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
