.instructions-container {
  position: relative;
  width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 15px;
}

.content-heading {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #f2a61e;
  text-align: center;
  margin-bottom: 1rem;
}

.content-list {
  list-style-type: disc;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  color: #f2a61e;
  margin-left: 1.5rem;
  padding: 0;
}

.content-list li {
  margin-bottom: 0.8rem;
}
