.form-container {
  max-width: 400px;
  margin: 30px auto;
  font-family: "Lato", sans-serif;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 8px;
  font-size: 16px;
  display: block;
}

.form-input,
.form-select,
.form-textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0056b3;
}

/* Additional styles for player inputs */
.form-label.player-label {
  margin-bottom: 4px;
  font-size: 14px;
}

.form-input.player-input {
  margin-bottom: 12px;
}

.accommodation-message {
  background-color: #f0f8ff; /* Light Blue */
  padding: 10px;
  margin-top: -15px;
  margin-bottom: 10px;
  border: 1px solid #91e0ff; /* Sky Blue */
  border-radius: 5px;
  color: #3c54a1; /* Navy */
}
