.contact__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.contact__info {
  grid-template-columns: 1fr;
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.contact__box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
  width: 18%;
  margin: 0 auto;
}

.contact__box i {
  font-size: 1.3rem; /* Adjust the font size value to make the icons bigger */
}

.contact__info.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section__subtitle {
  width: 100%;
  text-align: center;
  padding-top: 10px; /* Adjust as needed */
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .contact__box {
    padding: 0.75rem 0.5rem;
  }

  .contact__data {
    text-align: center;
  }

  .contact__info {
    justify-content: center;
  }
}

@media screen and (max-width: 350px) {
  .contact__info.grid {
    flex-wrap: wrap;
  }
}
