/* SportsCard.css */

.sports-landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px; /* Adjust the margin-top value to leave space for the fixed navbar */
}

.sports-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Updated to 5 columns */
  grid-template-rows: repeat(4, auto); /* 4 rows */
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.sports-card {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  max-width: 200px; /* Adjust the width as needed */
  margin: 1rem;
  background: linear-gradient(45deg, #ff6347, #ffa07a);

  /* Gradient background color */
  padding: 1.5rem;
}

.sports-card h3 {
  font-size: 1rem;
  color: var(--c-void);
  line-height: 1.25;
  margin-bottom: 1rem;
}

.sports-card a {
  font: inherit;
  line-height: 1;
  background: linear-gradient(45deg, #ffa07a, #ff6347);
  /* Gradient button color */
  border: 2px solid var(--c-indigo);
  color: var(--c-indigo);
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  text-decoration: none;
  &:hover,
  &:focus {
    background: linear-gradient(45deg, #ff8c00, #ffd700);
    color: var(--c-white);
  }
}
.subtle-subtitle {
  color: #777; /* Adjust the color to your preference */
  font-style: italic;
  margin-bottom: 5px;
  margin-top: -10px;
}
