/* Updated styles for the navbar */
.navbar-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem; /* Add padding for spacing */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f2a61e;
  z-index: 1000; /* Ensure the navbar appears above other elements */
}

.navbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem; /* Reduce the gap between navbar items */
  font-size: 16px; /* Reduce font size */
}

.nav-link {
  text-decoration: none;
  color: black;
  font-family: "Lato", bold;
}

.navbar-img {
  margin-top: 1.7rem;
  margin-bottom: 1rem;
  margin-right: 2rem; /* Adjust margin for logo */
  margin-left: 2rem;
  height: 40px; /* Increase logo height */
  transform: scale(2.5); /* Adjust logo scale */
}

/* Styles for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 160px;
  border-radius: 5px; /* Add border-radius for a rounded appearance */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Styles for the Register Now button */
.nav-link.register-button {
  margin-right: 2rem;
  margin-left: 2rem;
  font-weight: bold;
  padding: 15px 20px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-link.register-button:hover {
  background-color: #2980b9;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Adjust the background color as needed */
  padding: 1rem;
  z-index: 1100; /* Ensure the navbar is above other elements */
}

.navbar a {
  color: white; /* Adjust the text color as needed */
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.navbar a:hover {
  color: #ffd700; /* Adjust the hover color as needed */
}

@media (max-width: 768px) {
  .navbar-img {
    height: 30px; /* Adjust the height of the logo for mobile view */
    transform: scale(2rem); /* Adjust the logo scale for mobile view */
    margin-left: 10px; /* Adjust margin for mobile view */
  }

  .nav-link.register-button {
    font-size: 12px; /* Adjust the font size for mobile view */
    padding: 10px 15px;
    margin-right: 10px; /* Adjust padding for mobile view */
  }
}
