.navbar-body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-contents {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  font-size: 20px;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-family: "Lato", bold;
}
.navbar-img {
  margin-top: 1.7rem;
  margin-bottom: 1rem;

  margin-right: 10rem;
  background-repeat: no-repeat;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  transform: scale(2.5);
}
